In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime
from datetime import datetime

In [4]:
df = pd.read_excel('6118149_ZJFPSI7F.xlsx', sheet_name=1)
df.head()

,Неделя,"Drivers, success","GMV, burnt orders, rub","GMV, paid cancel orders, rub","GMV, success orders, rub","GMV, discount orders, rub","GMV, surge orders only, rub","Orders, burnt","Orders, paid cancel","Orders, success",...,"Surge value, surge orders only","Users, burnt","Users, paid cancel","Users, success","Users, new","GMV, User, rub","Discounts, rub","Net Subsidy, rub","Net Fee, rub","VAT, rub"
0,2017-01-02,1856,237776.56,6328.39,7671354.22,0.0,1115641.04,2944,158,47033,...,7308.6,1967,155,19679,3655,7537521.22,0.0,1427026.37,579778.43,104360.12
1,2017-01-09,2237,120438.68,6027.91,8467211.90,0.0,313623.16,1820,162,54995,...,2178.9,1307,153,20972,3312,8349106.90,0.0,1645511.42,637040.34,114667.26
2,2017-01-16,2468,145439.24,8138.22,9093563.74,0.0,215521.02,1700,203,59735,...,1477.1,1139,193,21776,3236,8956484.74,0.0,1770212.54,682545.99,122858.28
3,2017-01-23,2631,87881.35,8944.60,9878048.28,0.0,188985.28,1092,239,65090,...,1331.0,806,227,23354,3395,9703942.28,0.0,1933193.37,739135.40,133044.37
4,2017-01-30,2691,88103.53,8856.71,10590010.64,0.0,402526.68,1450,239,70059,...,2822.5,998,232,24425,3460,10450685.64,0.0,2133394.37,812713.15,146288.36

In [6]:
df.columns

Index(['Неделя', 'Drivers, success', 'GMV, burnt orders, rub',
       'GMV, paid cancel orders, rub', 'GMV, success orders, rub',
       'GMV, discount orders, rub', 'GMV, surge orders only, rub',
       'Orders, burnt', 'Orders, paid cancel', 'Orders, success',
       'Orders, subsidy', 'Orders, cancelled', 'Orders, discount, success',
       'Surge value, success orders', 'Surge value, surge orders only',
       'Users, burnt', 'Users, paid cancel', 'Users, success', 'Users, new',
       'GMV, User, rub', 'Discounts, rub', 'Net Subsidy, rub', 'Net Fee, rub',
       'VAT, rub'],
      dtype='object')

In [8]:
df['Доход'] = df['GMV, User, rub'] + df['Discounts, rub'] + df['Net Subsidy, rub'] - df['Net Fee, rub'] - df['VAT, rub']
df['Доход'].head()
df[df['Доход'] == df['Доход'].min()]

,Неделя,"Drivers, success","GMV, burnt orders, rub","GMV, paid cancel orders, rub","GMV, success orders, rub","GMV, discount orders, rub","GMV, surge orders only, rub","Orders, burnt","Orders, paid cancel","Orders, success",...,"Users, burnt","Users, paid cancel","Users, success","Users, new","GMV, User, rub","Discounts, rub","Net Subsidy, rub","Net Fee, rub","VAT, rub",Доход
0,2017-01-02,1856,237776.56,6328.39,7671354.22,0.0,1115641.04,2944,158,47033,...,1967,155,19679,3655,7537521.22,0.0,1427026.37,579778.43,104360.12,8280409.04

In [14]:
df['order_sub_disc'] = df['Discounts, rub'] + df['order_sub_disc']

0.7188525172193425

In [16]:
sum(df['GMV, burnt orders, rub'])

83950976.17000002