In [2]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

data = pd.read_csv("ap-northeast-1.csv", header=None, parse_dates=True)
data.columns = ['date','arch','OS','zone', 'price']
data

,date,arch,OS,zone,price
0,2017-05-08 21:46:36+00:00,c3.8xlarge,Windows,ap-northeast-1a,1.6503
1,2017-05-08 21:46:36+00:00,c3.8xlarge,Windows,ap-northeast-1c,1.7461
2,2017-05-08 21:46:34+00:00,i3.large,SUSE Linux,ap-northeast-1c,0.1223
3,2017-05-08 21:46:34+00:00,i3.large,Linux/UNIX,ap-northeast-1c,0.0223
4,2017-05-08 21:46:17+00:00,c4.8xlarge,SUSE Linux,ap-northeast-1a,0.7890
...,...,...,...,...,...
1956995,2017-03-30 07:25:16+00:00,g2.2xlarge,Windows,ap-northeast-1c,0.1183
1956996,2017-03-30 07:25:13+00:00,m4.xlarge,Windows,ap-northeast-1c,0.2394
1956997,2017-03-30 07:25:13+00:00,c3.2xlarge,SUSE Linux,ap-northeast-1c,0.1976
1956998,2017-03-30 07:25:13+00:00,c3.2xlarge,Linux/UNIX,ap-northeast-1c,0.0976
1956999,2017-03-30 07:25:12+00:00,m4.large,Windows,ap-northeast-1c,0.1210

In [3]:
dt = data.loc[(data['OS']=='Windows') & ((data['arch']>='i') & (data['arch']<'j'))]
dt = dt.sort_values("date", ascending = True)
dt

,date,arch,OS,zone,price
1956357,2017-03-30 07:36:21+00:00,i2.xlarge,Windows,ap-northeast-1a,0.2157
1955843,2017-03-30 07:45:27+00:00,i2.xlarge,Windows,ap-northeast-1a,0.2162
1955792,2017-03-30 07:46:27+00:00,i2.xlarge,Windows,ap-northeast-1a,0.2164
1955724,2017-03-30 07:47:27+00:00,i2.xlarge,Windows,ap-northeast-1c,0.2195
1955644,2017-03-30 07:48:27+00:00,i2.xlarge,Windows,ap-northeast-1c,0.2198
...,...,...,...,...,...
176,2017-05-08 21:39:07+00:00,i3.xlarge,Windows,ap-northeast-1c,0.2200
175,2017-05-08 21:39:07+00:00,i3.xlarge,Windows,ap-northeast-1a,0.2200
91,2017-05-08 21:42:29+00:00,i2.xlarge,Windows,ap-northeast-1a,0.2210
37,2017-05-08 21:45:01+00:00,i2.xlarge,Windows,ap-northeast-1c,0.2120
36,2017-05-08 21:45:01+00:00,i2.xlarge,Windows,ap-northeast-1a,0.2120

In [1]:
import math

i = 0
n = dt['arch'].nunique()//2
ar = pd.array(dt['arch'].unique())
fig, axes = plt.subplots(n, 2, figsize=(20,20))
plt.subplots_adjust(hspace=0.2)
for row in range(n):
    for column in range(2):
        arch = ar[i]
        dates = dt['date'].loc[dt['arch']==arch]
        prices = dt['price'].loc[dt['arch']==arch]
        
        axes[row, column].plot(dates, prices, label=arch, color='r')
        
        
        axes[row, column].set_xlabel('Dates')
        axes[row, column].set_ylabel('Prices')
        
        
        axes[row, column].set_xticks(dates.iloc[::(dates.count()//6)])
        axes[row, column].set_xticklabels(dates.iloc[::(dates.count()//6)], rotation=8)
        
        yticks = np.arange(math.floor(min(prices)), math.ceil(max(prices)), 5)
        axes[row, column].set_yticks(yticks)
        axes[row, column].set_yticklabels(yticks)
        
        
        axes[row, column].grid()
        axes[row, column].legend(loc='upper left', title='Prices')
        
        i+=1
        
plt.show()

NameError: name 'dt' is not defined