# Чтение и запись данных, часть 2

## Домашнее задание 

### Описание домашнего задания и формат сдачи

Выполните предложенные задачи — впишите свой код в ячейки после комментария `### YOUR CODE HERE ###` и сохраните изменения, используя опцию *Save and Checkpoint* из вкладки меню *File* или кнопку *Save and Checkpoint* на панели инструментов. Итоговый файл в формате `.ipynb` (файл Jupyter Notebook) загрузите в личный кабинет и отправьте на проверку.

In [1]:
import pandas as pd
import urllib.request as req
import json
import sqlalchemy
import psycopg2
import pymongo

### Задача 1

Используя сервис MetaWeather узнайте, какая погода была в Лондоне 1 марта 2019 года. Для этого в первой ячейке определите идентификатор Лондона в этом сервисе, а во второй — запросите данные погоды. Обратите внимание, что сервис вернёт данные за несколько дней, а не только за 1 марта, в этой задаче это допустимо.

In [2]:
url = "https://www.metaweather.com/api/location/search/?query=london"

with req.urlopen(url) as session:
    response1 = session.read().decode()
    data = json.loads(response1)
city = data[0]['woeid']
city

44418

In [3]:
url = 'https://www.metaweather.com/api/location/44418/2019/03/01/'

with req.urlopen(url) as session:
    response2 = session.read().decode()
    data = json.loads(response2)
df = pd.read_json(response2)
df

,id,weather_state_name,weather_state_abbr,wind_direction_compass,created,applicable_date,min_temp,max_temp,the_temp,wind_speed,wind_direction,air_pressure,humidity,visibility,predictability
0,4706336925286400,Showers,s,W,2019-03-01T21:59:01.944736Z,2019-03-01,7.593333,12.533333,12.055,4.989813,271.430734,1017.68,74,6.465989,73
1,5349522672713728,Showers,s,W,2019-03-01T18:57:01.981049Z,2019-03-01,7.593333,12.533333,12.055,5.207913,276.650124,1017.18,73,6.667624,73
2,4529216366313472,Showers,s,W,2019-03-01T15:55:02.886405Z,2019-03-01,7.593333,12.533333,12.055,5.207913,276.650124,1017.18,73,6.667624,73
3,4582457049350144,Showers,s,W,2019-03-01T12:53:01.886400Z,2019-03-01,7.593333,12.533333,12.055,5.207913,276.650124,1017.18,73,6.667624,73
4,6272821925773312,Showers,s,W,2019-03-01T09:51:02.485187Z,2019-03-01,7.593333,12.533333,12.185,4.531242,271.430734,1017.18,75,7.897628,73
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66,6032668781182976,Light Rain,lr,SW,2019-02-21T13:45:14.399134Z,2019-03-01,8.145000,13.480000,12.690,6.851686,232.500000,1022.67,74,NaN,75
67,5976721731878912,Light Rain,lr,SW,2019-02-21T10:43:14.990412Z,2019-03-01,8.145000,13.480000,12.690,6.851686,232.500000,1022.67,74,NaN,75
68,5134166656024576,Light Rain,lr,SW,2019-02-21T07:41:14.233862Z,2019-03-01,8.110000,14.210000,14.420,7.615973,234.000000,1015.89,74,NaN,75
69,5413591926702080,Light Rain,lr,SW,2019-02-21T04:39:14.576062Z,2019-03-01,8.110000,14.210000,14.420,7.615973,234.000000,1015.89,74,NaN,75
70,5805840887971840,Light Rain,lr,SW,2019-02-21T01:37:13.525713Z,2019-03-01,8.110000,14.210000,14.420,7.615973,234.000000,1015.89,74,NaN,75

### Задача 2

Сохраните данные погоды, полученные в предыдущей задаче, в файл `weather.json`. При сохранении используйте четыре пробела для форматирования.

In [4]:
with open('weather.json', 'w') as file:
    data = json.dump(data, file, indent=4)

### Задача 3

Загрузите содержимое файла `weather.json` в DataFrame и выведите первые пять строк DataFrame на экран.

In [5]:
df = pd.read_json('weather.json')
df.head()

,id,weather_state_name,weather_state_abbr,wind_direction_compass,created,applicable_date,min_temp,max_temp,the_temp,wind_speed,wind_direction,air_pressure,humidity,visibility,predictability
0,4706336925286400,Showers,s,W,2019-03-01T21:59:01.944736Z,2019-03-01,7.593333,12.533333,12.055,4.989813,271.430734,1017.68,74,6.465989,73
1,5349522672713728,Showers,s,W,2019-03-01T18:57:01.981049Z,2019-03-01,7.593333,12.533333,12.055,5.207913,276.650124,1017.18,73,6.667624,73
2,4529216366313472,Showers,s,W,2019-03-01T15:55:02.886405Z,2019-03-01,7.593333,12.533333,12.055,5.207913,276.650124,1017.18,73,6.667624,73
3,4582457049350144,Showers,s,W,2019-03-01T12:53:01.886400Z,2019-03-01,7.593333,12.533333,12.055,5.207913,276.650124,1017.18,73,6.667624,73
4,6272821925773312,Showers,s,W,2019-03-01T09:51:02.485187Z,2019-03-01,7.593333,12.533333,12.185,4.531242,271.430734,1017.18,75,7.897628,73

### Задача 4

Сохраните DataFrame из предыдущей задачи в файл `result.csv`. В качестве названия столбца-индекса используйте `index`.

In [6]:
df.to_csv('result.csv', index_label='index')

### Задача 5

Загрузите содержимое SQL-таблицы `ratings` в DataFrame. Выведите первые пять строк DataFrame на экран. Для подключения к БД используйте строку подключения, указанную в следующей ячейке.

In [7]:
conn = 'postgresql+psycopg2://readonly:6hajV34RTQfmxhS@dsstudents.skillbox.ru:5432/db_ds_students'

engine = sqlalchemy.create_engine(conn)
connect = engine.connect()

df = pd.read_sql('select * from ratings', connect)
df.head()

   userid  movieid  rating   timestamp
0    7608    54001     4.0  1444555195
1    7608    54190     1.0  1450545807
2    7608    55247     4.0  1449493663
3    7608    55820     5.0  1447258437
4    7608    56757     4.0  1451321674

### Задача 6

Сохраните первые 10000 записей датафрейма из предыдущей задачи в файл `result2.xlsx`, при сохранении задайте листу имя `MySheet`.

(Примечание: для указания имени листа в файле Excel как при чтении, так и при записи используется параметр `sheet_name`)

In [8]:
df.head(1000).to_excel('result2.xlsx', sheet_name='MySheet')

### Задача 7

Определите количество документов в коллекции `users` в MongoDB. Если количество документов < 1000, то в следующей ячейке загрузите всё содержимое этой коллекции в список и выведите нулевой элемент этого списка на экран. Для подключения к MongoDB используйте строку подключения, указанную в следующей ячейке.

In [9]:
conn = 'mongodb://students:X63673t47Gl03Sq@dsstudents.skillbox.ru:27017/?authSource=movies'

connect = pymongo.MongoClient(conn)

In [10]:
db = connect['movies']
users = db['users']

users_count = users.find().count()
my_list = []

if (users_count < 1000):
    head = users.find().limit(users_count)
    my_list = list(head)    

my_list

D:\anaconda3\lib\site-packages\ipykernel_launcher.py:4: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.
  after removing the cwd from sys.path.

[{'_id': ObjectId('5cc69095067496679c74f7a4'),
  'user_id': 'ed5da480-57a2-489c-8e68-512155ab9892',
  'first_name': 'Жанна',
  'last_name': 'Петрова',
  'mail': 'zhanna_03816@gmail.com',
  'age': 20.0},
 {'_id': ObjectId('5cc690e2067496679c74f7a5'),
  'user_id': '7ba07e70-f76a-4bbc-9b5d-34265f4f7638',
  'first_name': 'Андрей',
  'last_name': 'Белоусов',
  'mail': 'andrej_23624@ivi.ru',
  'age': 18.0},
 {'_id': ObjectId('5cc690e2067496679c74f7a6'),
  'user_id': '8b1752da-599d-413a-a2e9-bc75387b2be9',
  'first_name': 'Евгения',
  'last_name': 'Дементьева',
  'mail': 'evgenija_22008@skillbox.ru',
  'age': 18.0},
 {'_id': ObjectId('5cc690e2067496679c74f7a7'),
  'user_id': '3e3b7b84-65f0-4152-815a-730bec31bb9d',
  'first_name': 'Василиса',
  'last_name': 'Семенова',
  'mail': 'vasilisa_42757@ivi.ru',
  'age': 18.0},
 {'_id': ObjectId('5cc690e2067496679c74f7a8'),
  'user_id': '8c390b6e-a490-44ac-b974-f5dec7f6970b',
  'first_name': 'Наина',
  'last_name': 'Горбунова',
  'mail': 'naina_95710@ivi.ru',
  'age': 19.0},
 {'_id': ObjectId('5cc690e2067496679c74f7a9'),
  'user_id': '1affa6e8-1e05-4728-96ed-dd471f9552d1',
  'first_name': 'Богдан',
  'last_name': 'Беляев',
  'mail': 'bogdan_44091@yandex.ru',
  'age': 23.0},
 {'_id': ObjectId('5cc690e2067496679c74f7aa'),
  'user_id': 'f7006ad5-9ecd-4606-a8ee-9c730baeb000',
  'first_name': 'Орест',
  'last_name': 'Гришин',
  'mail': 'orest_20872@gmail.com',
  'age': 17.0},
 {'_id': ObjectId('5cc690e2067496679c74f7ab'),
  'user_id': 'd86c91d2-d1e3-40ac-bbc3-c5d8d494a1b2',
  'first_name': 'Исидор',
  'last_name': 'Горшков',
  'mail': 'isidor_91830@skillbox.ru',
  'age': 24.0},
 {'_id': ObjectId('5cc690e2067496679c74f7ac'),
  'user_id': '9021676d-c57b-46c3-b9a4-e939f824c9a2',
  'first_name': 'Наина',
  'last_name': 'Ковалева',
  'mail': 'naina_95952@mail.ru',
  'age': 27.0},
 {'_id': ObjectId('5cc690e2067496679c74f7ad'),
  'user_id': 'd5617a94-e8d3-4ebb-b415-f62637e4e3f8',
  'first_name': 'Галина',
  'last_name': 'Ефремова',
  'mail': 'galina_32909@gmail.com',
  'age': 21.0},
 {'_id': ObjectId('5cc690e2067496679c74f7ae'),
  'user_id': '39599205-2be9-4ab0-82db-5f5f95b35d07',
  'first_name': 'Прокофий',
  'last_name': 'Молчанов',
  'mail': '2276433@skillbox.ru',
  'age': 19.0},
 {'_id': ObjectId('5cc690e2067496679c74f7af'),
  'user_id': 'c416e416-5310-4780-adfd-361d681f6c63',
  'first_name': 'Светозар',
  'last_name': 'Котов',
  'mail': 'svetozar_63963@mail.ru',
  'age': 20.0},
 {'_id': ObjectId('5cc690e2067496679c74f7b0'),
  'user_id': '085fd66e-1e74-4fd8-af96-720439f270a7',
  'first_name': 'Ольга',
  'last_name': 'Фадеева',
  'mail': 'olga_92542@yandex.ru',
  'age': 17.0},
 {'_id': ObjectId('5cc690e2067496679c74f7b1'),
  'user_id': 'ae9cf4ba-ef3d-4179-9a1e-facbdf7939a1',
  'first_name': 'Ладимир',
  'last_name': 'Уваров',
  'mail': 'ladimir_73454@gmail.com',
  'age': 24.0},
 {'_id': ObjectId('5cc690e2067496679c74f7b2'),
  'user_id': '040909a4-8478-4b9d-8485-0225d8f30269',
  'first_name': 'Лукия',
  'last_name': 'Пестова',
  'mail': 'lukija_07767@ivi.ru',
  'age': 22.0},
 {'_id': ObjectId('5cc690e2067496679c74f7b3'),
  'user_id': '9cd89aa7-55a4-4bac-a135-e233143717a2',
  'first_name': 'Эдуард',
  'last_name': 'Котов',
  'mail': 'eduard_13936@gmail.com',
  'age': 16.0},
 {'_id': ObjectId('5cc690e2067496679c74f7b4'),
  'user_id': '7d1e7911-c279-4f11-8497-bb6ffe6f3600',
  'first_name': 'Изот',
  'last_name': 'Давыдов',
  'mail': 'izot_25897@ivi.ru',
  'age': 19.0},
 {'_id': ObjectId('5cc690e2067496679c74f7b5'),
  'user_id': '83cb8f2a-9646-4510-9e6b-61752a365bf2',
  'first_name': 'Майя',
  'last_name': 'Иванова',
  'mail': 'majja_54000@mail.ru',
  'age': 21.0},
 {'_id': ObjectId('5cc690e2067496679c74f7b6'),
  'user_id': '29ff83b9-35c7-4481-99ae-55465f641894',
  'first_name': 'Сила',
  'last_name': 'Шарапов',
  'mail': 'sila_20744@yandex.ru',
  'age': 19.0},
 {'_id': ObjectId('5cc690e2067496679c74f7b7'),
  'user_id': '71d10c2c-fc8b-4262-875a-0fbddfca37ae',
  'first_name': 'Павел',
  'last_name': 'Петухов',
  'mail': 'pavel_04968@mail.ru',
  'age': 16.0},
 {'_id': ObjectId('5cc690e2067496679c74f7b8'),
  'user_id': '401aed31-0da0-4b94-ad2b-17af415cccec',
  'first_name': 'Нифонт',
  'last_name': 'Лобанов',
  'mail': 'nifont_84176@skillbox.ru',
  'age': 18.0},
 {'_id': ObjectId('5cc690e2067496679c74f7b9'),
  'user_id': 'c344aa0d-3343-4f55-8ec3-9b38c13b20f2',
  'first_name': 'Олег',
  'last_name': 'Субботин',
  'mail': 'oleg_04772@gmail.com',
  'age': 23.0},
 {'_id': ObjectId('5cc690e2067496679c74f7ba'),
  'user_id': 'c561b096-d5e1-4d0a-9e7a-d0e7000fdd8e',
  'first_name': 'Оксана',
  'last_name': 'Белова',
  'mail': 'oksana_68810@mail.ru',
  'age': 23.0},
 {'_id': ObjectId('5cc690e2067496679c74f7bb'),
  'user_id': '8a1ed233-c4fb-41d0-81b3-59d10a088458',
  'first_name': 'Зоя',
  'last_name': 'Архипова',
  'mail': 'zoja.arhipova@skillbox.ru',
  'age': 17.0},
 {'_id': ObjectId('5cc690e2067496679c74f7bc'),
  'user_id': 'dbd8dc6c-a654-470c-af90-ab7940cdfedb',
  'first_name': 'Зосима',
  'last_name': 'Гурьев',
  'mail': 'zosima_84291@yandex.ru',
  'age': 25.0},
 {'_id': ObjectId('5cc690e2067496679c74f7bd'),
  'user_id': '63a313dd-b997-4c7a-af35-af7e0e2afc31',
  'first_name': 'Адриан',
  'last_name': 'Матвеев',
  'mail': 'adrian_40077@yandex.ru',
  'age': 21.0},
 {'_id': ObjectId('5cc690e2067496679c74f7be'),
  'user_id': 'bf298214-8018-43ce-be12-045c5df32926',
  'first_name': 'Нонна',
  'last_name': 'Егорова',
  'mail': 'nonna_30106@gmail.com',
  'age': 18.0},
 {'_id': ObjectId('5cc690e2067496679c74f7bf'),
  'user_id': '72e693a2-15cc-48ee-9f18-0b758f5f0063',
  'first_name': 'Каллистрат',
  'last_name': 'Сафонов',
  'mail': 'kallistrat.safonov@gmail.com',
  'age': 24.0},
 {'_id': ObjectId('5cc690e2067496679c74f7c0'),
  'user_id': '904a63ec-8651-45a7-bbf9-e53dcdeb55de',
  'first_name': 'Тимофей',
  'last_name': 'Кошелев',
  'mail': 'timofej_84254@skillbox.ru',
  'age': 22.0},
 {'_id': ObjectId('5cc690e2067496679c74f7c1'),
  'user_id': 'b516f25a-13b6-4ae8-a86e-b999f08cf56a',
  'first_name': 'Евгения',
  'last_name': 'Галкина',
  'mail': 'evgenija_83796@skillbox.ru',
  'age': 23.0},
 {'_id': ObjectId('5cc690e2067496679c74f7c2'),
  'user_id': '888a3ae1-8f38-4928-8c74-cc4e396b550f',
  'first_name': 'Борислав',
  'last_name': 'Алексеев',
  'mail': 'borislav.alekseev@ivi.ru',
  'age': 24.0},
 {'_id': ObjectId('5cc690e2067496679c74f7c3'),
  'user_id': '7d23fa36-e411-457f-90b7-c5ceeef02fea',
  'first_name': 'Амос',
  'last_name': 'Сафонов',
  'mail': 'amos_84678@mail.ru',
  'age': 19.0},
 {'_id': ObjectId('5cc690e2067496679c74f7c4'),
  'user_id': '4aed19fd-04b9-43e1-af77-bf7147fdca55',
  'first_name': 'Лукия',
  'last_name': 'Фокина',
  'mail': 'lukija_91367@skillbox.ru',
  'age': 24.0},
 {'_id': ObjectId('5cc690e2067496679c74f7c5'),
  'user_id': '5093edef-7223-4cf1-a2a1-dc52f48248c9',
  'first_name': 'Селиверст',
  'last_name': 'Попов',
  'mail': 'seliverst_12323@yandex.ru',
  'age': 19.0},
 {'_id': ObjectId('5cc690e2067496679c74f7c6'),
  'user_id': '444f7aa9-16c7-476a-90e1-d5754e96958f',
  'first_name': 'Ипат',
  'last_name': 'Брагин',
  'mail': 'ipat_95892@gmail.com',
  'age': 17.0},
 {'_id': ObjectId('5cc690e2067496679c74f7c7'),
  'user_id': '9c2594e2-aef2-424b-a7a4-3b029641fa14',
  'first_name': 'Марфа',
  'last_name': 'Дмитриева',
  'mail': 'marfa.dmitrieva@mail.ru',
  'age': 17.0},
 {'_id': ObjectId('5cc690e2067496679c74f7c8'),
  'user_id': 'e1c59e2b-1ba8-4a4c-902c-5b81aef40591',
  'first_name': 'Надежда',
  'last_name': 'Лыткина',
  'mail': 'nadezhda.lytkina@mail.ru',
  'age': 18.0},
 {'_id': ObjectId('5cc690e2067496679c74f7c9'),
  'user_id': '5c11f925-685f-4678-b127-3b45d479e22c',
  'first_name': 'Клавдий',
  'last_name': 'Колобов',
  'mail': 'klavdij_56463@gmail.com',
  'age': 21.0},
 {'_id': ObjectId('5cc690e2067496679c74f7ca'),
  'user_id': '1deee792-15be-41a3-a101-e642556c7ec9',
  'first_name': 'Варлаам',
  'last_name': 'Воронов',
  'mail': 'varlaam_74057@mail.ru',
  'age': 19.0},
 {'_id': ObjectId('5cc690e2067496679c74f7cb'),
  'user_id': 'ba45a07e-e3be-41d2-b674-698cf072772b',
  'first_name': 'Мстислав',
  'last_name': 'Зиновьев',
  'mail': 'mstislav.zinovev@mail.ru',
  'age': 17.0},
 {'_id': ObjectId('5cc690e2067496679c74f7cc'),
  'user_id': '4366d922-6e89-4562-9c5a-d340c74ca35d',
  'first_name': 'Леон',
  'last_name': 'Денисов',
  'mail': 'leon.denisov@mail.ru',
  'age': 23.0},
 {'_id': ObjectId('5cc690e2067496679c74f7cd'),
  'user_id': '69c52275-d261-4897-996e-a068079169a2',
  'first_name': 'Фадей',
  'last_name': 'Шаров',
  'mail': 'fadej_02859@yandex.ru',
  'age': 23.0},
 {'_id': ObjectId('5cc690e2067496679c74f7ce'),
  'user_id': '8139f03e-ecf4-43f3-a927-63ecf445b843',
  'first_name': 'Эмиль',
  'last_name': 'Владимиров',
  'mail': 'emil_34697@yandex.ru',
  'age': 18.0},
 {'_id': ObjectId('5cc690e2067496679c74f7cf'),
  'user_id': 'd08aa2b7-160b-4098-860f-aee846a28fc1',
  'first_name': 'Епифан',
  'last_name': 'Калинин',
  'mail': 'epifan_67752@mail.ru',
  'age': 17.0},
 {'_id': ObjectId('5cc690e2067496679c74f7d0'),
  'user_id': 'd78be9fd-f0c2-41de-b794-79f27a248b66',
  'first_name': 'Феврония',
  'last_name': 'Громова',
  'mail': 'fevronija_40537@mail.ru',
  'age': 18.0},
 {'_id': ObjectId('5cc690e2067496679c74f7d1'),
  'user_id': '25c18c65-bf1f-45d0-b6d2-218bb3c2b7d3',
  'first_name': 'Степан',
  'last_name': 'Ефремов',
  'mail': 'stepan_55313@skillbox.ru',
  'age': 22.0},
 {'_id': ObjectId('5cc690e2067496679c74f7d2'),
  'user_id': '38fad428-abfc-4705-bcf0-dc9578e23ec7',
  'first_name': 'Варвара',
  'last_name': 'Назарова',
  'mail': 'varvara.nazarova@ivi.ru',
  'age': 17.0},
 {'_id': ObjectId('5cc690e2067496679c74f7d3'),
  'user_id': '590ceb69-2d6b-4081-b9db-2a666b47039b',
  'first_name': 'Глафира',
  'last_name': 'Шестакова',
  'mail': 'glafira_77346@ivi.ru',
  'age': 23.0},
 {'_id': ObjectId('5cc690e2067496679c74f7d4'),
  'user_id': '7a0a9b38-6885-40fb-83c0-d52c59e0cb84',
  'first_name': 'Яков',
  'last_name': 'Васильев',
  'mail': 'jakov_93158@ivi.ru',
  'age': 18.0},
 {'_id': ObjectId('5cc690e2067496679c74f7d5'),
  'user_id': 'a6043593-bd49-4ab8-b197-7fb7b11fcdf2',
  'first_name': 'Борис',
  'last_name': 'Лыткин',
  'mail': 'boris_51459@gmail.com',
  'age': 18.0},
 {'_id': ObjectId('5cc690e2067496679c74f7d6'),
  'user_id': '67af67d2-b70e-410d-a617-a70ab7ff4c36',
  'first_name': 'Екатерина',
  'last_name': 'Лазарева',
  'mail': 'ekaterina.lazareva@mail.ru',
  'age': 18.0},
 {'_id': ObjectId('5cc690e2067496679c74f7d7'),
  'user_id': '785c7685-f1ad-499f-8f94-9d3969373bdd',
  'first_name': 'Алевтина',
  'last_name': 'Тимофеева',
  'mail': 'alevtina_74233@mail.ru',
  'age': 26.0},
 {'_id': ObjectId('5cc690e2067496679c74f7d8'),
  'user_id': '666874c1-4550-4c7e-aa0e-7db4c0a6330b',
  'first_name': 'Регина',
  'last_name': 'Мухина',
  'mail': 'regina_56314@yandex.ru',
  'age': 16.0},
 {'_id': ObjectId('5cc690e2067496679c74f7d9'),
  'user_id': '4987e4f3-69a4-4da3-9590-ba9ae58cfb0b',
  'first_name': 'Вероника',
  'last_name': 'Беляева',
  'mail': 'veronika_83091@mail.ru',
  'age': 27.0},
 {'_id': ObjectId('5cc690e2067496679c74f7da'),
  'user_id': 'c32ee426-1822-418d-b1cd-9142612b391a',
  'first_name': 'Анжелика',
  'last_name': 'Дементьева',
  'mail': 'anzhelika_40406@mail.ru',
  'age': 19.0},
 {'_id': ObjectId('5cc690e2067496679c74f7db'),
  'user_id': '70fdf4be-c854-4e9d-bfe0-068e6144ca6b',
  'first_name': 'Зинаида',
  'last_name': 'Никитина',
  'mail': 'zinaida_13331@mail.ru',
  'age': 21.0},
 {'_id': ObjectId('5cc690e2067496679c74f7dc'),
  'user_id': '0486f864-a9c0-4139-a0c9-74c8eba2d4ad',
  'first_name': 'Сила',
  'last_name': 'Тетерин',
  'mail': 'sila_06851@gmail.com',
  'age': 21.0},
 {'_id': ObjectId('5cc690e2067496679c74f7dd'),
  'user_id': '9c41ff35-f268-451d-9e1c-58ef293aeaa7',
  'first_name': 'Мирослав',
  'last_name': 'Лобанов',
  'mail': 'miroslav_69286@mail.ru',
  'age': 21.0},
 {'_id': ObjectId('5cc690e2067496679c74f7de'),
  'user_id': '72558398-b50b-4ec9-896a-ea13bddcc9b7',
  'first_name': 'Прохор',
  'last_name': 'Игнатьев',
  'mail': 'prohor_52204@gmail.com',
  'age': 27.0},
 {'_id': ObjectId('5cc690e2067496679c74f7df'),
  'user_id': 'd29e7e90-537a-4afa-a806-316c67b6f9cf',
  'first_name': 'Галина',
  'last_name': 'Власова',
  'mail': 'galina_66964@mail.ru',
  'age': 23.0},
 {'_id': ObjectId('5cc690e2067496679c74f7e0'),
  'user_id': 'a40fd3c1-81a1-4abb-aed8-9bea90eed880',
  'first_name': 'Лора',
  'last_name': 'Рыбакова',
  'mail': 'lora_71820@mail.ru',
  'age': 24.0},
 {'_id': ObjectId('5cc690e2067496679c74f7e1'),
  'user_id': '3e68b226-d786-4c1b-b283-407670480087',
  'first_name': 'Пелагея',
  'last_name': 'Орлова',
  'mail': 'pelageja_16594@gmail.com',
  'age': 16.0},
 {'_id': ObjectId('5cc690e2067496679c74f7e2'),
  'user_id': '2750a464-11ca-44ae-8c40-270df68fc989',
  'first_name': 'Тамара',
  'last_name': 'Кузьмина',
  'mail': '7612348@skillbox.ru',
  'age': 20.0},
 {'_id': ObjectId('5cc690e2067496679c74f7e3'),
  'user_id': '176bbfba-f63b-4812-b1df-88698b63e87b',
  'first_name': 'Прохор',
  'last_name': 'Чернов',
  'mail': 'prohor.chernov@ivi.ru',
  'age': 27.0},
 {'_id': ObjectId('5cc690e2067496679c74f7e4'),
  'user_id': '348c520e-bc63-4daa-a3c6-a4dbaa71384b',
  'first_name': 'Антонина',
  'last_name': 'Жукова',
  'mail': 'antonina_92124@gmail.com',
  'age': 18.0},
 {'_id': ObjectId('5cc690e2067496679c74f7e5'),
  'user_id': 'ac1836d6-e411-4b87-aa7d-6dd0a9531095',
  'first_name': 'Тимофей',
  'last_name': 'Стрелков',
  'mail': 'timofej_20599@mail.ru',
  'age': 24.0},
 {'_id': ObjectId('5cc690e2067496679c74f7e6'),
  'user_id': '7d97b6e8-3766-402d-8296-cef6f0d308c1',
  'first_name': 'Милан',
  'last_name': 'Орехов',
  'mail': 'milan_33628@mail.ru',
  'age': 22.0},
 {'_id': ObjectId('5cc690e2067496679c74f7e7'),
  'user_id': '5bb98efb-c301-4f3e-936a-6f07f334bb79',
  'first_name': 'Анжелика',
  'last_name': 'Никонова',
  'mail': 'anzhelika_82611@yandex.ru',
  'age': 17.0},
 {'_id': ObjectId('5cc690e2067496679c74f7e8'),
  'user_id': 'd14b49dc-699a-46d1-9ca7-c5bb3db285da',
  'first_name': 'Алина',
  'last_name': 'Гуляева',
  'mail': 'alina.guljaeva@yandex.ru',
  'age': 17.0},
 {'_id': ObjectId('5cc690e2067496679c74f7e9'),
  'user_id': 'f0685c08-faf7-4f10-a388-29b3756ab5e7',
  'first_name': 'Наталья',
  'last_name': 'Кузнецова',
  'mail': 'natalja_38959@ivi.ru',
  'age': 23.0},
 {'_id': ObjectId('5cc690e2067496679c74f7ea'),
  'user_id': '1049b94b-a11e-421a-9f8d-354a93e88dfa',
  'first_name': 'Фаина',
  'last_name': 'Мартынова',
  'mail': 'faina_69468@yandex.ru',
  'age': 22.0},
 {'_id': ObjectId('5cc690e2067496679c74f7eb'),
  'user_id': '0b1e3458-8dbe-4b70-9665-e85863f21fd8',
  'first_name': 'Зосима',
  'last_name': 'Михайлов',
  'mail': '2628721@mail.ru',
  'age': 19.0},
 {'_id': ObjectId('5cc690e2067496679c74f7ec'),
  'user_id': '1fc14162-d269-42db-b77f-bfd7b9f45103',
  'first_name': 'Леон',
  'last_name': 'Артемьев',
  'mail': 'leon_38585@mail.ru',
  'age': 17.0},
 {'_id': ObjectId('5cc690e2067496679c74f7ed'),
  'user_id': 'f9dbb99f-c637-438c-a6e1-7b2e45dc993d',
  'first_name': 'Твердислав',
  'last_name': 'Степанов',
  'mail': 'tverdislav_07002@yandex.ru',
  'age': 29.0},
 {'_id': ObjectId('5cc690e2067496679c74f7ee'),
  'user_id': '28c6677c-84bf-4dfb-9eac-9c4898fd7229',
  'first_name': 'Марина',
  'last_name': 'Аксенова',
  'mail': 'marina.aksenova@yandex.ru',
  'age': 18.0},
 {'_id': ObjectId('5cc690e2067496679c74f7ef'),
  'user_id': 'db3f2b8d-1755-48a6-b610-49ec14c70f70',
  'first_name': 'Кира',
  'last_name': 'Щербакова',
  'mail': 'kira_33167@gmail.com',
  'age': 19.0},
 {'_id': ObjectId('5cc690e2067496679c74f7f0'),
  'user_id': '49667c5e-5921-4a37-9794-69a9913c9755',
  'first_name': 'Зосима',
  'last_name': 'Федотов',
  'mail': 'zosima_22294@ivi.ru',
  'age': 23.0},
 {'_id': ObjectId('5cc690e2067496679c74f7f1'),
  'user_id': '459a6953-42f9-4313-86e0-c68a95d6ec36',
  'first_name': 'Акулина',
  'last_name': 'Смирнова',
  'mail': 'akulina_03934@gmail.com',
  'age': 19.0},
 {'_id': ObjectId('5cc690e2067496679c74f7f2'),
  'user_id': '82c3c554-c83c-4891-8570-34af9f4a3ac7',
  'first_name': 'Оксана',
  'last_name': 'Шилова',
  'mail': 'oksana_36954@gmail.com',
  'age': 16.0},
 {'_id': ObjectId('5cc690e2067496679c74f7f3'),
  'user_id': '4758a5a1-bbab-4f5f-8807-5cac1cf1dd98',
  'first_name': 'Владлен',
  'last_name': 'Панов',
  'mail': 'vladlen_79936@yandex.ru',
  'age': 21.0},
 {'_id': ObjectId('5cc690e2067496679c74f7f4'),
  'user_id': 'e2ffc768-9385-40b3-9424-f681dbe7595f',
  'first_name': 'Эмилия',
  'last_name': 'Турова',
  'mail': 'emilija_09357@yandex.ru',
  'age': 20.0},
 {'_id': ObjectId('5cc690e2067496679c74f7f5'),
  'user_id': '8c5c9258-476d-46d4-ad6a-53e833410a04',
  'first_name': 'Епифан',
  'last_name': 'Колобов',
  'mail': 'epifan_90781@gmail.com',
  'age': 19.0},
 {'_id': ObjectId('5cc690e2067496679c74f7f6'),
  'user_id': '68991965-1b3e-41a7-807a-3d95fd27379e',
  'first_name': 'Ульяна',
  'last_name': 'Игнатова',
  'mail': 'uljana_99120@gmail.com',
  'age': 19.0},
 {'_id': ObjectId('5cc690e2067496679c74f7f7'),
  'user_id': 'f4fa9ebc-6ec1-4be1-b7b4-54479176f2b3',
  'first_name': 'Сигизмунд',
  'last_name': 'Юдин',
  'mail': 'sigizmund_24639@yandex.ru',
  'age': 19.0},
 {'_id': ObjectId('5cc690e2067496679c74f7f8'),
  'user_id': '20055851-d8a8-404f-b4cc-b625edf4cbb4',
  'first_name': 'Милица',
  'last_name': 'Симонова',
  'mail': 'militsa_92818@skillbox.ru',
  'age': 17.0},
 {'_id': ObjectId('5cc690e2067496679c74f7f9'),
  'user_id': '7f0ccf54-6d4e-492c-9227-bc5d0d42903d',
  'first_name': 'Мстислав',
  'last_name': 'Степанов',
  'mail': 'mstislav_29760@mail.ru',
  'age': 28.0},
 {'_id': ObjectId('5cc690e2067496679c74f7fa'),
  'user_id': 'a1246423-e9c7-4ea8-8260-a2d51ea0b6c4',
  'first_name': 'Радован',
  'last_name': 'Комаров',
  'mail': 'radovan_78777@skillbox.ru',
  'age': 21.0},
 {'_id': ObjectId('5cc690e2067496679c74f7fb'),
  'user_id': 'c0ef5cf6-0fa3-47ab-a6c9-e1dd3d9357a0',
  'first_name': 'Любовь',
  'last_name': 'Зыкова',
  'mail': 'ljubov_61088@mail.ru',
  'age': 17.0},
 {'_id': ObjectId('5cc690e2067496679c74f7fc'),
  'user_id': 'f14b8666-5fd4-4acc-9d77-50df48fcd050',
  'first_name': 'Нина',
  'last_name': 'Алексеева',
  'mail': 'nina_61823@yandex.ru',
  'age': 17.0},
 {'_id': ObjectId('5cc690e2067496679c74f7fd'),
  'user_id': '1f81ac5c-e7da-4337-95bf-3febc893b6e5',
  'first_name': 'Милан',
  'last_name': 'Соловьев',
  'mail': 'milan_57466@ivi.ru',
  'age': 20.0},
 {'_id': ObjectId('5cc690e2067496679c74f7fe'),
  'user_id': '834051a4-c97d-4073-b37a-4f20166703ed',
  'first_name': 'Мина',
  'last_name': 'Нестеров',
  'mail': 'mina_18662@gmail.com',
  'age': 20.0},
 {'_id': ObjectId('5cc690e2067496679c74f7ff'),
  'user_id': '8fb1b613-4d8e-4f3d-8697-0586f32872e5',
  'first_name': 'Виссарион',
  'last_name': 'Яковлев',
  'mail': 'vissarion.jakovlev@yandex.ru',
  'age': 27.0},
 {'_id': ObjectId('5cc690e2067496679c74f800'),
  'user_id': 'd6b1d46a-5574-462f-8618-000b80467173',
  'first_name': 'Евгения',
  'last_name': 'Абрамова',
  'mail': 'evgenija.abramova@skillbox.ru',
  'age': 26.0},
 {'_id': ObjectId('5cc690e2067496679c74f801'),
  'user_id': 'cc7a3f96-af39-4ea2-8f58-1e2a3507f2d7',
  'first_name': 'Лукия',
  'last_name': 'Устинова',
  'mail': 'lukija_73845@gmail.com',
  'age': 16.0},
 {'_id': ObjectId('5cc690e2067496679c74f802'),
  'user_id': '9b379a34-edfc-4c06-9085-e6eb6cfd3951',
  'first_name': 'Ульяна',
  'last_name': 'Сергеева',
  'mail': 'uljana_49607@gmail.com',
  'age': 16.0},
 {'_id': ObjectId('5cc690e2067496679c74f803'),
  'user_id': '653462db-849f-4e21-89b5-1a1b28a52269',
  'first_name': 'Эдуард',
  'last_name': 'Сафонов',
  'mail': 'eduard_26992@gmail.com',
  'age': 16.0},
 {'_id': ObjectId('5cc690e2067496679c74f804'),
  'user_id': '395ab5c0-e2f1-4644-974e-29fa4f821b0e',
  'first_name': 'Прасковья',
  'last_name': 'Селезнева',
  'mail': 'praskovja_16895@skillbox.ru',
  'age': 20.0},
 {'_id': ObjectId('5cc690e2067496679c74f805'),
  'user_id': '1b681fe4-5c5a-4c60-b0a3-24241374df95',
  'first_name': 'Аристарх',
  'last_name': 'Селезнев',

### Задача 8

Преобразуйте список всех документов коллекции `users` из предыдущей задачи в pandas DataFrame и сохраните его содержимое в файл `result3.xlsx`.

In [11]:
df = pd.DataFrame(my_list)
df.to_excel('result3.xlsx')

## Дополнительные (необязательные) задачи

### Задача 9

Используя данные SQL-таблицы `ratings`, для каждого пользователя (столбец `userid`) определите средний рейтинг, который этот пользователь поставил фильмам. Результат выведите на экран. 

Группировку проведите двумя способами: с помощью `GROUP BY` в строке запроса к БД и с использованием метода `groupby` в pandas.

Для подключения к БД используйте строку подключения в следующей ячейке

In [12]:
conn = 'postgresql+psycopg2://readonly:6hajV34RTQfmxhS@dsstudents.skillbox.ru:5432/db_ds_students'

engine = sqlalchemy.create_engine(conn)
connect = engine.connect()

df = pd.read_sql('select userid,\
                    avg(rating) as average_rating\
                    from ratings\
                    group by userid', connect)
df.head()

   userid  average_rating
0    6114        4.000000
1    4790        4.000000
2     273        4.314685
3    3936        3.756757
4    5761        3.419220

In [13]:
df = pd.read_sql('select * from ratings', connect)
df.groupby('userid')['rating'].mean().head()

userid
1    4.277778
2    3.318182
3    3.100000
4    3.500000
5    4.269231
Name: rating, dtype: float64

### Задача 10

Объедините таблицы `ratings` и `keywords` по столбцам `movieid` (используйте левое объединение). Объединение проведите двумя способами: с помощью `LEFT JOIN` в строке запроса к БД и с использованием метода `merge` в pandas. Результат объединения загрузите в DataFrame и сохраните в файл `result4.csv`.

Обратите внимание, что при объединении возможно дублирование столбцов. В результирующем датафрейме не должно быть таких дублированных столбцов.

In [14]:
conn = 'postgresql+psycopg2://readonly:6hajV34RTQfmxhS@dsstudents.skillbox.ru:5432/db_ds_students'

engine = sqlalchemy.create_engine(conn)
connect = engine.connect()

In [15]:
df = pd.read_sql('select distinct *\
                    from ratings\
                    left join\
                    keywords on ratings.movieid = keywords.movieid', connect)
df

,userid,movieid,rating,timestamp,movieid,tags
0,1,110,1.0,1425941529,110.0,"[{'id': 934, 'name': 'judge'}, {'id': 1533, 'n..."
1,1,147,4.5,1425942435,147.0,"[{'id': 6930, 'name': 'fondling'}, {'id': 1018..."
2,1,858,5.0,1425941523,858.0,"[{'id': 494, 'name': 'father son relationship'..."
3,1,1221,5.0,1425941546,NaN,None
4,1,1246,5.0,1425941556,1246.0,"[{'id': 276, 'name': 'philadelphia'}, {'id': 3..."
...,...,...,...,...,...,...
777771,7956,3565,5.0,963242620,3565.0,"[{'id': 1552, 'name': 'subway'}, {'id': 7033, ..."
777772,7956,3566,2.0,969474974,NaN,None
777773,7956,3578,3.0,1016989235,3578.0,"[{'id': 279, 'name': 'usa'}, {'id': 1295, 'nam..."
777774,7956,3593,1.0,1016990660,3593.0,"[{'id': 1706, 'name': 'experiment'}, {'id': 19..."
777775,7956,3594,2.5,1122934414,3594.0,"[{'id': 236, 'name': 'suicide'}, {'id': 818, '..."

In [46]:
df_1 = pd.read_sql('select * from ratings', connect)
df_2 = pd.read_sql('select * from keywords', connect)

df = pd.merge(df_1, df_2, how='left', on='movieid').drop_duplicates().reset_index(drop=True)

df

,userid,movieid,rating,timestamp,tags
0,7608,54001,4.0,1444555195,"[{'id': 1485, 'name': 'stadium'}, {'id': 18531..."
1,7608,54190,1.0,1450545807,NaN
2,7608,55247,4.0,1449493663,NaN
3,7608,55820,5.0,1447258437,NaN
4,7608,56757,4.0,1451321674,NaN
...,...,...,...,...,...
777771,7608,52319,4.0,1450545730,NaN
777772,7608,52885,4.0,1446192149,[]
777773,7608,53125,3.0,1450545774,NaN
777774,7608,53519,5.0,1450274575,"[{'id': 154802, 'name': 'silent film'}]"
777775,7608,53996,5.0,1447687386,NaN

### Задача 11

Используя объединенную таблицу из предыдущего задания, найдите все идентификаторы фильмов с тегом `africa` (но не `south africa` или любые другие). Список тегов в формате JSON записан в столбце `tags`.

In [91]:
df_new = df[['movieid', 'tags']].dropna()
df_new = df_new[df_new['tags'].str.contains("'africa'")]
df_new['movieid'].unique()

array([ 2989,   494,  1672,   179,  4460,   488,  7010,  2197,  4274,
       38198, 25874,   873,  8929, 46207], dtype=int64)